body {
  font-family: IBMPlexSans, Arial, sans-serif;
  
}

.App {
  text-align: Center;
  background-color: #282c34
}

header {
  display: flex;
  flex-direction: row;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: rgb(26,26,27);
  padding: 0 20px;
}

.reddit-icon {
  height: 32px;
  padding: 8px 8px 8px 0;
  width: 32px;
}

.reddit-text {
  display: block;
  height: 18px;
  margin-right: 20px;
  width: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center { 
  align-items: center;
}

.header-menu {
  width: 200px;
  padding: 0 10px;
  border: 1px solid rgb(100,100,100);
  margin: 7px;
  border-radius: 5px;
}