.App {
  text-align: Center;
  background-color: #282c34
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 12vmin;
  pointer-events: none;
  position: relative;
  right: 1000px;
  bottom: 25px;
  top: 15px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.LogIn{
  position: relative;
  bottom: 75px;
  left: 700px;

}
.UserName{
  position: relative;
  bottom: 75px;
  left: 705px;
}

.Password{
  position: relative;
  left: 560px;
  bottom: 45px;
}
.Search{
  position: relative;
  left: 250px;
  bottom: 70px; 
}
